<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--
    <link href="/static/css/styles.css" rel="stylesheet"/>
    -->
    
    
    <title>Find my final</title>
  </head>
  
  <body>
    <div class="container col-md-3 ml-md-auto mt-5">
        <h1>Find your final by one click!</h1>
        <form action="/search" method="get" class="needs-validation" novalidate>
            <div class="form-group">
              <label >Course title</label>
              <input  oninput="checkTitle(this)" autofocus class="form-control" name="title" placeholder="MATH" type="text" required/>
            </div>
            <div class="form-group">
              <label >Course number</label>
              <input oninput="checkNumber(this)" class="form-control" name="number" placeholder="223" type="text" required/>
            </div>
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        <p class="mt-5 mb-3 text-center">by <a href="https://github.com/tudou0002">Yifei</a></p>
        <li>
          {{ data }}
        </li>
    </div>

    <script src="/static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>